@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
  background: url("../images/Sample.png");
  background-size: cover;
  background-position: center center;
  background-color: #157003;
}

.backgroundimage {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Shippori Mincho', serif;
  padding: 15px;
}
.backgroundimage > div {
  display: inline-block;
  padding: 7px 20px;
  width: 61.8046972%;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #6ef06e 0%, #397204 100%);
  transition: .4s;
}

.backgroundimage > div {

  background-image: linear-gradient(45deg, #6ef06e 0%, #397204 100%);
}

input[type="submit"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

.scroll{
  height: 80px;
  overflow: auto;
}
